<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

	{% if not auth %}	
	Login with <a href="{% url "socialauth_begin" 'twitter' %}">Twitter</a><br/>
	Login with <a href="{% url "socialauth_begin" 'facebook' %}">Facebook</a>
	{% else %}	
	Welcome {{ user }}
	{% endif %}
	
	<ul id="questions">
	{% for question in questions %}
	<li>
		{{ question }}
		<span class="count">{{ question.answers.all.count }}</span>
		<span class="author">{{ question.author }}</span>
	</li>
	{% endfor %}
	</ul>

</body>
</html>
